<html>
  <head>
    <meta charset="UTF-8">
    <title>Bilgisayar</title>
  </head>

  <body text="#000000" bgcolor="#ffffff" link="#808080" vlink="#eaeaea" alink="#000000">
    <h1>Bilgisayar Header</h1>
    <h2><%=mesaj %></h2>
    <h2><% for(var i=0;i<kisiler.length;i++)
    { %>
      <li><%=kisiler[i] %></li>
      <%

    }  %> </h2>
    <p>Bir Şeyler Değişir Belki</p>

     </body>
</html>