<html>
  <head>
    <meta charset="UTF-8">
    <title>Layouts Örneği</title>
  </head>
<h1>Layout Başlığı</h1>
  <body text="#000000" bgcolor="#ffffff" link="#808080" vlink="#eaeaea" alink="#000000">
    <%- body  %> <!--Burda Layout'un diğer sayfalara referan olarak gösterilmesi yapıldı ve aynı klasör içindeki ejsler burda gösterildi.Ejs bunu kendisi yaptı.-->


     </body>
</html>